.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 300px;
  max-height: 100%;
  text-align: center;
  border-radius: 5px;
  border: 1px rgba(0, 0, 0, 0.582) solid;
  background-color: rgba(54, 31, 1, 0.651);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
  padding: 10px;
}

.card-ativo {
  display: flex;
  align-items: center;
  flex-direction: column !important;
  text-align: center;
  gap: 10px;
  flex: 1;
  border-radius: 5px;
  margin: 10px 5px;
  backdrop-filter: blur(5px);
  color: black;
}

.card-ativo .imagem {
  margin: 20px 0 0 0;
}

.card__selecionado {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex: 1;
}

.card__nome__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card .imagem {
  width: 100%;
  height: 300px;
  border-radius: 4px;
}

.card .imagem:hover {
  cursor: pointer;
}

.card .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  height: 45px;
  color: white;
  padding: 16px 0;
}

.card .curtidas {
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.card__botaoCurtir {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: default;
}

.card__botaoCurtir img {
  width: 1em;
}

.card__botaoCurtir img:hover {
  cursor: pointer;
}

.card .descricao {
  background-color: rgba(0, 0, 0, 0.44);
  font-size: 20px;
  display: none;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 10px 20px;
  font-weight: 400;
  border-radius: 4px;
  gap: 16px;
  height: auto;
}

.card .descricao strong {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.586);
  font-weight: bold;
  padding: 8px;
}

.card .descricao p {
  width: 70%;
}

.card__botaoCurtir p {
  font-size: 20px;
}

.card .regiao {
  text-transform: uppercase;
}

.cardSelecionado__botaoVoltar {
  width: 150px;
  background-color: rgb(90, 48, 0);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
}

.cardSelecionado__botaoVoltar:hover {
  background-color: rgba(90, 48, 0, 0.534);
}

@media screen and (max-width: 768px) {
  .card {
    flex-direction: row;
    min-width: calc(100% - 30px);
  }

  .card .imagem {
    min-width: 150px;
    height: 150px;
    border-radius: 5px;
    cursor: pointer;
  }

  .card-ativo .imagem {
    width: 100%;
    height: 100%;
  }

  .card .descricao p {
    width: 100%;
  }
}