.conteudo__pricipal {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.tabs__escolher {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px 0 10px 25px;
  font-size: 24px;
}

.tabs__escolher button {
  cursor: pointer;
}

.tabs__escolher button.tab-selecionada {
  background-color: #754c29;
  color: white;
}

.tabs__escolher button {
  padding: 10px;
  background-color: white;
  color: black;
  font-size: 18px;
  border-radius: 5px;
  text-transform: uppercase;
}

.section__todos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lista__todos {
  display: flex;
  padding: 10px 0 10px 25px;
  background-color: #242424af;
  max-height: 100%;
  width: 100%;
}

.lista__todos-expandida {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #07070769;
  backdrop-filter: blur(2px);
  max-height: 100%;
  width: 100%;
}

.lista__todos .container {
  display: flex;
}

.lista__botao {
  width: 100%;
  border: none;
  padding: 25px;
  font-size: 28px;
  color: ghostwhite;
  background-color: rgba(0, 0, 0, 0.274);
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px 0 0 5px;
}

.lista__animais {
  width: 75vw;
  overflow: hidden;
  display: flex;
  /* flex-wrap: wrap; */
  transition: width 0.5s ease;
}

.lista__animais-expandida {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  transition: width 1s ease;
}

@media screen and (max-width: 768px) {
  .lista__todos {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .lista__animais {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    transition: width 0.5s ease;
  }

  .tabs__escolher {
    display: flex;
    width: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  .tabs__escolher button {
    width: 100%;
    background-color: white;
    padding: 15px 6px;
    color: black;
    font-size: 16px;
    border-radius: 0;
    text-transform: uppercase;
  }

  .tabs__escolher button.tab-selecionada {
    background-color: #754c29;
    color: white;
  }
}