/* Menu lateral */
.menu__lateral {
  display: none;
}

.menu__lateral-ativo {
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: #9a491e;
}

.menu__lateral-ativo .sobre__nos {
  display: flex;
  flex-direction: column;
  max-height: 30%;
}

.menu__lateral-ativo .sobre__nos h2 {
  width: 100%;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.37);
  color: white;
  padding: 5px;
}

.menu__lateral-ativo .sobre__nos p {
  padding: 5px;
  text-align: center;
  font-size: 22px;
  flex-wrap: wrap;
  color: white;
}
