.menu__lateral-container {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu__lateral {
  display: none;
}

.menu__lateral-ativo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(2px);
  height: 150px;
  padding: 25px;
  border-bottom: 1px black solid;
  border-left: 1px black solid;
}

.menu__lateral-ativo img {
  width: 100px;
}
